<header class="bg-zinc-400 text-slate-900">
    <nav class="flex flex-row self-start w-full h-28 py-2 justify-around items-end">
        <div id="links" class="flex flex-row items-center uppercase">
            <a class="px-3 py-1 mx-2 hover:text-blue-400 transition-all ease-in-out" href="#">Home</a>
            <a class="px-3 py-1 mx-2 hover:text-blue-400 transition-all ease-in-out" href="#">About</a>
            <a class="px-3 py-1 mx-2 hover:text-blue-400 transition-all ease-in-out" href="#">Links</a>
        </div>
    </nav>
</header>