{% extends "/shared/_base.html" %}

{% block content %}
    <section id="body" class="flex flex-col bg-slate-50 justify-center items-center max-w-screen-lg m-auto">
        <div class="flex flex-col justify-center items-center py-10">
            <h2 class="text-2xl leading-relaxed text-slate-800 uppercase">Welcome</h2>
            <div class="flex flex-col justify-center content-center text-center">
                <img src="{{random_artist['cover_image']}}" />
                <span class="py-4 uppercase font-bold">{{random_artist["name"]}}</span>
            </div>
        </div>
    </section>
{% endblock %}